.button {
    background-color: bc412b;
    color: white;
    text-align: center;
    padding: 15px 32px;
    font-size: 24px;
    font-family: cursive;
    width: 100%;
    cursor: pointer;
}
.button:hover{
    background-color:#ff654a;
}
th {
    font-size: 25px
}